*, *::before, *::after {
    box-sizing: border-box;
  }

  h1 {
    font-size: 30px;
    font-family: 'Creepster', cursive;
    color: red;
  }

  h2, h3 {
    font-family: 'Abril Fatface', cursive;
  }

  p {
    font-family: 'Source Sans Pro', sans-serif;
  }

  .wrapper {
    width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  #question {
    font-size: 0px;
    font-family: 'Creepster', cursive;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #nextBtn, #starBtn {
    margin-top: 30px;
    display: block;
  }

  #questionContainer {
    display: none;
  }

  #intro {
    display: block;
  }

  .btn {
    width: 200px;
    height: 60px;
    padding: 5px 10px;
    margin-top: 20px;
    margin-right: 20px;
    color: white;
  }
  
  .btn:hover {
    background: red;
    color: white;
  }
  
  .btn.correct {
    background: green;
    color: white;
  }
  
  .btn.incorrect {
    background: red;
    color: white;
  }

  button.btn {
    background: #202020;
    color: white;
  }