*, *::before, *::after {
    box-sizing: border-box;
  }

  .wrapper {
    width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 30px;
    font-family: 'Creepster', cursive;
    color: red;
  }

  h2, h3 {
    font-family: 'Abril Fatface', cursive;
  }

  p {
    font-family: 'Source Sans Pro', sans-serif;
  }